@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
}
.container{
    width: 80%;
    margin: 2em auto;
    background-color: whitesmoke;
    display: flex;
}
.card-1{
    width: 40%;
    background-color: white;
    margin-left: 3em;
    margin-right: 2em;
    margin-block: 2em;
    padding-block: 1em;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.my-profile{
    display: flex;
    column-gap: 3em;
    padding-block: 1.3em;
    padding-inline: 1em;
}
.mail{
    border-bottom: 1px solid gray;
}
.log-in{
    padding-left: 1em;
}
.name .underline{
    border-bottom: 1px solid gray;
}
.alert .fa-circle{
    padding-left: 1.5em;
    color: green;
}
.alert{
    color:rgba(255, 69, 0, 1);
}
.Save{
    color: white;
    padding: .5em 2em;
    border: 1px solid rgba(255, 69, 0, 1);
    background-color: rgba(255, 69, 0, 1);
    border-radius: 25px;
    margin-inline: 8em;
    margin-block: 1em;
}
.modell{
    width: 100%;
    padding-right: 4em;
    padding-bottom: 2em;
}
.col{
    display: flex;
    align-items: center;
    padding-top: 1em;
}
.card-2{
    margin-top: .5em;
}
.x-account{
    border-bottom: 1px solid gray;
    padding-bottom: .5em;
    font-size: 1.25em;
    margin-bottom: .75em;
}
.x-account .search{
    padding-left: 5em;
}
.search .fas{
    padding-right: 1em;
}
.search .Edit{
    border-radius: 20px;
    padding: 5px 20px;
    border-color: white;
}
.column{
    background-color: white;
    margin-block: 1em;
    padding: 1.5em;
    border-radius: 1.5em;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.Blocked{
    color: white;
    background-color: rgba(255, 69, 0, 1);
    border-radius: 20px;
    padding: 2px 15px;
    margin-left: 6.5em;
    border-color: rgba(255, 69, 0, 1);
}
.blocked-account{
    margin-block:2.5em;
}
.unblocked{
    color: white;
    background-color: greenyellow;
    border-radius: 20px;
    padding: 2px 15px;
    margin-left: 6.5em;
    border-color: greenyellow;
}
.Filter{
    border-radius: 1.5em;
    padding: 4px 10px;
    margin-left: 15em;
    margin-bottom: .75em;
}
.bills{
    border-bottom: 1px solid gray;
}
.column .col .fa-circle{
    padding-right: 1em;
    color: greenyellow;
}
.Internet{
    margin-left: 12em;
    background-color: rgba(255, 69, 0, 1);
    border-radius: 1.5em;
    border-color: rgba(255, 69, 0, 1);
    padding: 4px 10px;
}
.column .Internets .fa-circle{
    color: rgba(255, 69, 0, 1);
}

.colu{
    margin-left: 12em;
    background-color: greenyellow;
    border-radius: 1.5em;
    border-color: greenyellow;
    padding: 4px 10px;
}
@media (max-width:912px){
    .container{
        width: 100%;
        margin:0 auto;
        height: auto;
    }
    .card-1{
        margin-left: 5rem;
    }
    .column{
        margin-left: 1rem;
    }
}
@media (max-width:800px){
    .container{
        width: 100%;
        height: fit-content;
    }
    .card-1{
        margin-right: 2rem;
    }
    .card-2{
        margin-right: 1.5rem;
    }
}
@media (max-width: 768px){
    .container{
        white-space: nowrap;
        display: flex;
        overflow-x: hidden;
        margin: 0 auto;
        box-sizing: border-box;
        flex-direction: column;
        font-size: 1.8em;
    }
    .modell{
        max-width: 100%;
        height: auto;
        margin-right: 20em;
    }
    .card-1{
        width: 100%;
        margin: 0 auto;
    }
    .my-profile{
        padding-inline: 4em;
    }
    .log-in{
        padding-left: 5em;
    }
    .name{
        column-gap: 5rem;
    }
    .Save{
        margin-left: 22em;
    }
    .column h3{
        font-size: 1.3em;
    }
    .column{
        padding-inline: 4em;
        margin-bottom: 1.5em;
    }
    .Blocked{
        margin-left: 19em;
        margin-block: .5em;
    }
    .unblocked{
        margin-left: 19em;
        margin-block: .5em;
    }
    .Filter{
        margin-left: 20em;
    }
    .colu{
        margin-left: 25em;
    }
    .Filter{
        margin-left: 28em;
    }
    .Internet{
        margin-left: 25em;
    }
}
@media (max-width:760px){
    .container{
        white-space: nowrap;
        display: flex;
        margin: 0 auto;
        overflow-x: hidden;
        box-sizing: border-box;
        flex-direction: column;
        font-size: 1.8em;
    }
    .unblocked{
        margin-left: 15rem;
    }
}
@media (max-width:688px){
    .container{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        overflow-x: hidden;
        font-size: 1.15em;
    }
    .modell{
        width:50%;
        margin-left: 8rem;
    }
    .card-1{
        width: 95%;
    }
    .my-profile{
        margin-inline: 1.5rem;
    }
    .name{
        column-gap: 7.5rem;
    }
    .column{
        margin-inline: 1em;
    }
    .x-account{
        margin-inline: 1.5rem;
    }
    .log-in{
        margin-left: 4rem;
    }
    .Save{
        margin-left: 15rem;
    }
    .search{
        margin-left: 1rem;
    }
    .col{
        margin-inline: 1rem;
    }
    .Filter{
        margin-left: 18rem;
    }
    .Blocked{
        margin-block: .2rem;
        margin-left: 10rem;
    }
    .unblocked{
        margin-left: 10rem;
        margin-block: 0.8rem;
    }
    .Filter{
        margin-left: 15rem;
    }
    .colu{
        margin-left: 14rem;
    }
    .Internet{
        margin-left: 14rem;
    }
}
@media (max-width: 500px){
    .card-1{
        width: 95%;
    }
    .modell{
        width: 70%;
        margin-left: 5rem;
    }
    .log-in{
        margin-left: .5rem;
    }
    .x-account h3{
        font-size: 13px;
    }
    .Blocked{
        margin-left: 6.5rem;
    }
    .unblocked{
        margin-left: 6rem;
    }
    .Filter{
        margin-left: 11rem;
    }
    .colu{
        margin-left: 10rem;
    }
    .Internet{
        margin-left: 9.3rem;
    }
}
@media (max-width: 414px){
    .card-1{
        font-size: 11px;
    }
    .card-2{
        font-size: 11px;
    }
    .my-profile{
        margin-inline: -2rem;
    }
    .log-in{
        margin-left: -1rem;
    }
    .name .underline{
        margin-left: -.5rem;
    }
    .Save{
        margin-left: 10rem;
    }
    .x-account{
        margin-left: -2rem;
    }
    .active-account{
        margin-left: -2rem;
    }
    .blocked-account{
        margin-left: -2rem;
    }
    .Blocked{
        margin-left: 5rem;
    }
    .unblocked{
        margin-left: 4.5rem;
    }
   .bills{
    margin-left: -2rem;
   }
   .phone{
    margin-left: -2rem;
   }
   .Internets{
    margin-left: -2rem;
   }
   .House{
    margin-left: -2rem;
   }
   .Income{
    margin-left: -2rem;
   }
   .colu{
    margin-left: 9rem;
   }
   .Internet{
    margin-left: 8.4rem;
   }
}
@media (max-width: 384px){
    .card-1{
        font-size: 10px;
    }
    .card-2{
        font-size: 10px;
    }
    .Filter{
        font-size: 12px;
        margin-left: 8rem;
    }
    .colu{
        font-size: 12px;
        margin-left: 6.5rem;
    }
    .Internet{
        font-size: 12px;
        margin-left: 5.8rem;
    }
    .Blocked{
        font-size: 10px;
        margin-left: 4rem;
    }
    .x-account {
        font-size: 12px;
        margin-left: -2rem;
    }
    .x-account .search{
        margin-left: -1rem;
    }
    .Edit{
        font-size: 10px;
    }
    .unblocked{
        font-size: 10px;
        margin-left: 3.5rem;
    }
    .log-in{
        font-size: 12px;
    }
    .name .underline{
        font-size: 12px
    }
}
@media (max-width: 360px){
    .log-in{
        font-size: 11px;
    }
    .name .underline{
        font-size: 11px;
    }
}
@media (max-width: 320px){
    .log-in{
        font-size: 9px;
    }
    .name .underline{
        font-size: 9px;
    }
    .Blocked{
        font-size: 8px;
        margin-left: 2rem;
    }
    .unblocked{
        font-size: 8px;
        margin-left: 1.5rem;
    }
    .Filter{
        margin-left: 5rem;
        font-size: 10px;
    }
    .Edit{
        margin-left: -10px;
        font-size: 10px;
    }
    .colu{
        font-size: 10px;
        margin-left: 4rem;
    }
    .Internet{
        font-size: 10px;
        margin-left: 3.5rem;
    }
}
@media (max-width: 240px){
    .Filter{
        margin-left: 1rem;
        font-size: 7px;
    }
    .colu{
        font-size: 6px;
        margin-left: .8rem;
    }
    .Internet{
        font-size: 6px;
        margin-left: .55rem;
    }
    .x-account h3{
        font-size: 8px;
    }
    .active-account{
        font-size:7px;
    }
    .blocked-account{
        font-size: 7px;
    }
    .card-1{
        font-size: 8px;
    }
}