@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100&display=swap');
.bodyd{
    background-color: hsla(0, 100%, 74%);
    padding-bottom: 6rem;
}
.big1{
    display: flex;
    flex-direction: row;
    font-family:'Poppins', sans-serif;
    color: white;
}
.little1{
    margin-top: 0.6rem;
    margin-left: 2rem;
    width: 35%;
}
.Family{
    text-align: center;
    margin-left: 10rem;
    margin-top: 12rem;
    line-height: 2rem;
}
.Family p{
    text-align: left;
}
.Family h1{
    text-align: left;
}
.sibling{
    background-color: hsl(248, 32%, 49%);
    padding: 8px;
    border-radius: 0.7rem;
    text-align: center;
}
.formm{
    background-color: white;
    margin-top: 1rem;
    padding-top: 3rem;
    text-align: center;
    height: 90%;
    border-radius: 0.7rem;
}
.formm input{
    padding-left: 1rem;
}
.form-input{
    width: 350px;
    height: 40px;
    border-style: solid;
    border-width: thin;
    border-radius: 0.6rem;
    margin-bottom: 0.8rem;
}
.subb{
    width: 350px;
    background-color: hsl(154, 59%, 51%);
    border-color: hsl(154, 59%, 51%);
    box-shadow: none;
    height: 50px;
    border-radius: 0.5rem;
    color: white;
    font-weight: 500;
    font-size: large;
}
.smalll{
    color: lightgray;
    font-size: 10px;
    font-weight: 400;
}
.link{
    color: red;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .bodyd{
        padding-bottom: 8rem;
    }
    .big1{
        display: flex;
        flex-direction: column;
    }
    .Family{
        margin: auto;
        padding-left: 2rem;
    }
    .little1{
        text-align: center;
        margin: auto;
        width: 350px;
        height: 500px;
    }
    .form-input{
        width: 270px;
    }
    .subb{
        width: 300px;
    }   
}