*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main-cotainer{
    max-width: 100%;
    overflow: hidden;
}
.mobile-container{
    display: none;
}
.hero-2{
    width: 700px;
}
.container{
    display: flex;
    margin-bottom: -5px;
}
.right-col{
    margin-left: 7rem;
    margin-top: 5rem;
}
.bars{
    display: none;
}
nav{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    position: absolute;
    top: 3rem;
    left: 3rem;
}
ul{
    display: flex;
    gap: 1rem;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
a:hover{
    color: blue;
    transition: all .3s ease-out;
}
.sub-container{
    display: flex;
}
h1{
    margin-bottom: 1rem;
}
p{
    line-height: 1.5rem;
    font-size: 1rem;
}
.shop-now{
    margin-top: 1rem;
    letter-spacing: .6rem;
    font-weight: 600;
}
.direction{
    margin-bottom: 48rem;
    position:absolute;
}
.image-about-light{
    /* border: 2px solid red; */
    margin-left: 1.9rem;
}
.content{
    padding: 3rem 0 0 2rem;
}
.content p{
    font-size: .84rem;
}
h3{
        letter-spacing: .5rem;
        margin-bottom: 1rem;
}
.right-col p{
        font-size: .9rem;
        line-height: 1.4rem;
}
.direction{
    background-color:black;
    display:flex;
    width: 11.7%;
    margin-top: 80px;
    margin-left: -112px;
    position: absolute;
    padding: 12px;
    border: 2px solid black;
}
.prev{
    padding-left: 25px;
    padding-right: 20px;
    font-size: 22px;
}
.fa{
    color: gray;
}
.next{
    font-size: 22px;
    padding-left: 20px;
}
@media (min-width: 1440px){
    .hero-2{
        width: 800px;
    }
    .direction{
        background-color:black;
        display:flex;
        width: 12.3%;
        margin-top: 139px;
        margin-left: -112px;
        position: absolute;
        padding: 12px;
        border: 2px solid black;
    }
    .image-about-light{
        width: 32%;
    }
    .image-about-dark{
        width: 32%;
    }
}
@media (max-width: 1024px){
    .hero-2{
        width: 550px;
    }
    .nav{
        font-size: 10px
    }
    .right-col h1{
        font-size: 20px;
    }
    .right-col p{
        font-size: 12px;
    }
    .right-col{
        margin-left: 7rem;
        margin-top: 30px;
    }
    .image-about-dark{
        width: 25%;
        margin-top: 1px;
        height: 250px;
    }
    .image-about-light{
        width: 30%;
        height: 250px;
    }
    .content p{
        font-size: 11.7px;
    }
    .direction{
        background-color:black;
        display:flex;
        width: 16%;
        margin-top: 58px;
        margin-left: -112px;
        position: absolute;
        padding: 12px;
        border: 2px solid black;
    }
}
@media (max-width: 834px){
    .hero-2{
        width: 400px;
        height: 300px;
    }
    .nav{
        font-size: 8px;
    }
    .right-col h1{
        font-size: 15px;
    }
    .right-col p{
        font-size: 10px;
        font-weight: 500;
    }
    .right-col{
        margin-left: 6rem;
        margin-top: 50px;
    }
    .shop-now{
        font-size: 10px;
    }
    .content p{
        font-size: 8.3px;
    }
    .image-about-light{
        width: 40%;
    }
    .image-about-dark{
        width: 35%;
    }
    .direction{
        background-color:black;
        display:flex;
        width: 21.5%;
        margin-top: 13px;
        margin-left: -96px;
        position: absolute;
        padding: 8px;
        border: 2px solid black;
    }
    .prev{
        padding-left: 40px;
    }
}
@media (max-width: 800px){
    .direction{
        background-color:black;
        display:flex;
        width: 20%;
        margin-top: 13px;
        margin-left: -96px;
        position: absolute;
        padding: 8px;
        border: 2px solid black;
    }
}
@media (max-width: 768px){
    .right-col{
        margin-left: 4rem;
    }
    .direction{
        background-color:black;
        display:flex;
        width: 18.4%;
        margin-top: 13px;
        margin-left: -64px;
        position: absolute;
        padding: 8px;
        border: 2px solid black;
    }
}
@media (max-width: 688px){
    .container{
        display: none;
    }
    .sub-container{
        display: none;
    }
    .bars{
        display: block;
        color: white;
        margin-left: 2rem;
    }
    .mobile-container{
        width: 100%;
        margin: 0;
        display: block;
    }
    .mobile-direction{
        display:flex;
        padding: 13px 30px 13px 30px;
        background-color:black;
        position: absolute;
        margin-top: 22rem;
        right: .01rem;
    }
    .m-prev{
        padding: 0 .9rem 0 0;
    }
    .m-next{
        padding: 0 0 0 .6rem;
    }
    .top-nav{
        display: flex;
        position: absolute;
        top: 4%;
    }
    .new-logo{
       margin-left: 17rem;
    }
    .discovery{
        padding-inline: 4rem;
        padding-block: 2rem;
    }

    .discovery .hedd{
        font-size: 2rem;
    }
    p{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .shop-now{
        font-size: 1rem;
        margin: 2rem 0 2rem 0;
    }
    .m-about{
    padding: 2.5rem 0 2rem 4rem;
    }
}
@media (max-width: 414px){
    .new-logo{
        margin-left: 8rem;
    }
    .mobile-direction{
        position: absolute;
        margin-top: 5.6rem;
    }
    .discovery .hedd{
        font-size: 18px;
        font-weight: bolder;
    }
    P{
        font-size: .8rem;
    }
    h3{
        font-size: 10px;
    }
    .discovery{
        padding-inline: 2rem;
    }
    .m-about .hedd{
        font-size: 13px;
        font-weight: bolder;
    }
    .m-about{
        padding-inline: 2rem;
    }
}
@media (min-width: 393px){
    .mobile-direction{
        position: absolute;
        margin-top: 10rem;
    }
}
@media (min-width: 384px){
    .mobile-direction{
        position: absolute;
        margin-top: 3.8rem;
    }
    .discovery .hedd{
        font-size: 15px;
        font-weight: bolder;
    }
    .m-about .hedd{
        font-size: 11px;
        font-weight: bolder;
    }
}
@media (min-width: 375px){
    .mobile-direction{
        position: absolute; 
        margin-top: 3.3rem;
    }
    .discovery .hedd{
        font-size: 14px;
        font-weight:600;
    }
    .m-about .hedd{
        font-size: 11px;
        font-weight: bolder;
    }
}
@media (max-width: 360px){
    .mobile-direction{
        position: absolute;
        margin-top: 2.4rem;
    }
    .discovery .hedd{
        font-size: 12px;
        font-weight: bolder;
        line-height: 20px;
    }
    p{
        font-size: 12px;
    }
    .m-about .hedd{
        font-size: 9px;
        font-weight: 700;
    }
}
@media (min-width: 320px){
    .mobile-direction{
        position: absolute;
        margin-top: -3rem;
    }
    .discovery .hedd{
        font-size: 11px;
    }
    .discovery p{
        font-size: 11.5px;
    }
    .m-about .hedd{
        font-size: 8px;
        font-weight: 700;
    }
    .shop-now{
        font-size: 12px;
    }
}
@media (max-width: 240px){
    .new-logo{
        margin-left: 3rem;
    }
    .discovery .hedd{
        font-size: 12px;
        font-weight: 900;
    }
    .discovery{
        margin-left: -1rem;
    }
    .discovery p{
        font-size: 8.5px;
    }
    .mobile-direction{
        position: absolute;
        margin-top: -3rem;
    }
    .shop-now{
        font-size: 10px;
    }
    .m-about{
        margin-left: -1rem;
    }
    .m-about .hedd{
        font-size: 10px;
        line-height: 20px;
        font-weight: 800;
    }
    .m-about p{
        font-size: 8.5px;
    }
}