@media screen and (min-width:768px){
    .container1{
        display: flex;
        margin-top: -0.5rem;
        
    }
    .main-container{
        max-height: 35vh;
        max-width: 100%;
        margin-left: -0.5rem;
    }
    .container1 nav{
        position: absolute;
        left: 3%;
    }
    .fa-bars{
        display: none;
    }
    .logo{
        padding-left: 2rem;
    }
    .drop-down .logo{
        display: flex;
        padding-top: 2rem;
    }
    .drop-content{
        display: flex;
    }
    .drop-content ul{
        display: flex;
        list-style: none;
        gap: 25px;
        margin-top: 30px;
        font-weight: bolder;
        margin-right: 1rem;
    }
    .drop-content a{
        text-decoration: none;
        color: white;
    }
    .drop-content .logo{
        font-weight: bold;
    }
    .sub-container{
        display: flex;
    }
    .furniture{
        padding-left: 2rem;
        padding-right: 1.5rem;
        font-size: 14.5px;
        padding-top: 3rem;
        line-height: 25px;
    }
    .furniture h3{
        letter-spacing: 0.2rem;
        font-weight: bold;
    }
    .main-content{
        padding-left: 5rem;
        margin-top: 7rem;
    }
    .main-content p{
        line-height: 25px;
    }
    .main-content .shop-now{
        letter-spacing: 0.7rem;
        font-weight: bold;
    }
    .direction{
        display: flex;
        border: 2px solid black;
        justify-content: space-between;
        width: 16.9%;
        background-color: black;
        margin-top: 3.9rem;
        padding: 15px;
    }
    .fa-chevron-left{
        color: white;
    }
    .fa-chevron-right{
        color: white;
    }
    .mobile-content{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .desktop-content{
        display: none;
    }
    .body{
        margin: 0;
    }
    .mobile-container{
        width: 100%;
        margin: 0 0 0 0;
    }
    .img{
        max-width: 100%;
    }
}