@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;    ;
}
body{
    height: 100vh;
    max-width: 1200px;
    margin: 2rem 0 auto;
    padding-left: 85px;
    padding-right: 85px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-bar{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.links{
    list-style-type: none;
    display: flex;
    gap: 1.2rem;
    margin-right: 20rem;
}
.links li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
a{
    color: black;
    text-decoration: none;
    font-size: 12px;
    padding-left: 7%;
}
.logo{
    width: 29px;
    padding-left: 1rem;
}
hr{
    width: 93%;
    margin-left: 7%;
    color: lightgrey;
}
.prod-details{
    display: flex;
}
.content{
    margin-top: 8rem;
    width: 95rem;
    padding-left: 4rem;
}
.content h3{
    color: hsl(26, 100%, 55%);
    padding-bottom: 10px;
}
.content h2{
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 25px;
}
.content p{
    padding-bottom: 25px;
    line-height: 1.5rem;
}
.containner{
    display: flex;
    margin-top: 5rem;
    margin-left: 4rem;
}
.big-image img{
    border-radius: 1rem;
    width: 310px;
}
.small-images{
    margin-top: 1rem;
}
.small-images img{
    width: 65px;
    border-radius: 0.9rem;
    cursor: pointer;
}
.small-containner .small-images:hover{
    color: hsl(25, 100%, 94%);
}
.small-containner{
    display: flex;
    justify-content: space-between;
}
.prod-details .containner{
    width: 40%;
    margin-right: 50px;
}
.small-images{
    flex-basis: 24%;
    cursor: pointer;
}
.price-container h4{
    text-decoration: line-through;
    font-size: small;
    font-weight: lighter;
    line-height: 2rem;
}
.discounted-price{
    font-weight: 900;
    font-size: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    border-radius: 4px;
    border-color: hsl(25, 100%, 94%);
}
.original-price{
    font-size: large;
    font-weight: bold;
}
.img-button{
    padding: 9px 75px;
    border-radius: 10px;
    background-color: hsl(26, 100%, 55%);
    border-color: hsl(26, 100%, 55%);
    color: white;
    font-weight: bold;
}
.img-button img{
    width: 20px;
    padding-right: 5px;
}
.button-pls{
    border: 1px solid aliceblue;
    border-radius: 0.6rem;
    background-color: aliceblue;
    width: 127px;
}
.button-pls .minus-btn{
    font-size: 30px;
    border: thin;
    color: hsl(26, 100%, 55%);
    padding-left: 10px;
    background-color: aliceblue;
}
.button-pls .plus-btn{
    font-size: 22px;
    border: thin;
    color: hsl(26, 100%, 55%);
    padding-left: 25px;
    background-color: aliceblue;
}
.button-pls .item-count{
    font-size: 18px;
    border: thin;
    color:black;
    padding-left: 20px;
}
.button-container{
    display: flex;
    margin-top: 20px;
}
.buttn-1{
    padding-left: 15px;
}
@media screen and (max-width: 768px){
    a{
        font-size: larger;
        padding-left: 10px;
    }
    .carrt{
        padding-left: 12px;
    }
    .prod-details{
        display: flex;
        flex-direction: column;
    }
    .links{
        display: none;
    }
    .menu-bar{
        display: block;
    }
}