.Parent{
    display: flex;
    justify-content: center;
    background-image: url(../img/Market.jpg);
    background-position: center;
    background-size: cover;
    width: 70%;
    margin: 1rem auto;
}
.Child1{
    background-color: rgba(243, 86, 86, 0.9);
    color: white;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.3;
}
.Child1 button{
    color: white;
    border: solid;
    border-radius: 20px;
    background-color: rgba(243, 86, 86, 0.9);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.Child1 button:hover{
    color: blue;
}
.Child2{
    background-color: rgba(24, 158, 24, 0.895);
    color: white;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.3;
}
.Child2 button{
    color: white;
    border: solid;
    border-radius: 20px;
    background-color: rgba(24, 158, 24, 0.895);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.Child2 button:hover{
    color: rgb(189, 126, 165);
}
.Child3{
    background-color: rgba(187, 124, 51, 0.9);
    color: white;
    text-align: center;
    padding-top: 0.1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.3;
}
.Child3 button{
    color: white;
    border: solid;
    border-radius: 20px;
    background-color: rgba(187, 124, 51, 0.9);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.Child3 button:hover{
    color: aquamarine;
}
@media screen and (max-width: 760px) {
    .Parent{
        display: flex;
        flex-direction: column;
    }
    
}

